@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');

.admin {
    font-family: 'Noto Sans Mono', monospace;
    margin: 0 auto;
    background-color: #282828;
    color: white;
}

#edit-table {
    color: black;
    background-color: white;
}