@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');

body {
    font-family: 'Noto Sans Mono', monospace;
    margin: 0 auto;
    background-color: #282828;
    color: white;
}

h1 {
    text-align: center;
    width: 100%;
    border-bottom: 4px solid white;
    background-color: #474747;
    padding: 3rem;
    margin-bottom: 4%;
}

h2 {
    text-align: left;
    margin-bottom: 2%;
}

#tables {
    width: 80%;
    margin: 0 auto;
}

#olympic-table,
#best-table,
#athlete-table {
    background-color: white;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
   
}

#best-table tbody tr:nth-child(even) {
    background-color: rgb(240, 237, 237);
}

table.dataTable tbody tr:nth-child(even) {
    background-color: white;
}

table.dataTable tbody tr:nth-child(odd) {
    background-color: rgb(240, 237, 237);
}

#best-table {
    width: 50%;
    margin-bottom: 5%;
}

.dataTables_wrapper .dataTables_length select,
.dataTables_wrapper .dataTables_filter input {
    background-color: white;
}

input[type="search"] {
    margin-bottom: 4%;
}

#olympic-table_wrapper {
    margin-bottom: 8%;
}